
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    position: relative;
    margin: 30px;
    padding: 10px;
    color: blue;
}

nav {
    display: flex;
    justify-content: space-between;
    Flex-direction: row;
    background: blue;
    padding: 20px;
    z-index: 3;
}

.navbar .logo a {
    font-size: 35px;
    font-weight: 500;
    color: yellow;
}

.nav-links, .nav-links li a {
    display: flex;
    position: relative;
    align-items: center;
}

.nav-links li {
    list-style: none;
    margin: 0 10px;
    padding: 10px 0px;
}

.nav-links li a {
    font-size: 18px;
    font-weight: 500;
    color: yellow;
    padding: 10px 4px;
    align-items: center;
}

#image {
    width: 300px;
    height: 300px;
    position: relative;
    left: 30px;
    top: 50px;
    border-radius: 400px;

}

.active {

    background-color: gray;
}

.text {
     margin-top: 150px;
    margin-left: 20px;
    color: blue;
}

.story {
    dispaly: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    margin: 10px;
    margin-top: 150px;
    color: blue;
    padding: 20px;
}

#doc {
    
    align-self: center;
    text-align: center;
    background-color: rgb(235, 242, 242);
    border-radius: 15px;
    width: fit-content;
    padding:10px;
    left: 500px;
    Bottom: 20px;
    font-size: 25px;
    font-weight: 500;
    color: blue;
}

.nav-links li a:hover {
    color: darkgoldenrod;

}


body {
    background-color:lightgray;
}


.container {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
}


.skill-box {
    padding: 3rem;
    color: #ddd;
    cursor: pointer;
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}


.skill-title h3 {
    color: blue;
    margin-top: 0.5rem;
}

.skill-icon
 {
    width: 50%;
    z-index: 2;
    
}

.img{ 
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 13%;
}
    
.container .box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: -70px;
    cursor: pointer;
    padding: 30px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

box.text1,
box.text2,
box.text3,
box.text4,
box.text5{
    padding: 20px;
    margin: 10px;
}

.navbar, nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

box.icon1,
box.icon2,
box.icon3,
box.icon4,
box.icon5 {
    width: 90px; 
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    justify-content: space-between;
}











